@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Roboto', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-roboto: 'Roboto', sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
    --font-roboto-mono: 'Roboto Mono', monospace;
    --font-roboto-slab: 'Roboto Slab', serif;
    --font-roboto-serif: 'Roboto Serif', serif;
    --font-heading: 'Chakra Petch', sans-serif;
    --font-links: 'Chakra Petch', sans-serif;
    --body-bg: #0C0E0C;
    --text-primary: #ededed;

}
@layer base {
    h1 {
      font-size: var(--text-4xl);
      font-family: var(--font-heading);
      font-weight: 700;
      line-height: 1.2;
    }
    h2 {
      font-size: var(--text-3xl);
      font-family: var(--font-heading);
      font-weight: 600;
      line-height: 1.2;
    }
    h3 {
      font-size: var(--text-2xl);
      font-family: var(--font-heading);
      font-weight: 500;
      line-height: 1.2;
    }
    a {
      color: var(--color-blue-600);
      text-decoration-line: underline;
    }
    .decoration-none {
        text-decoration: none;
    }
  }